@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

html{
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    margin: 0;
}

h1, h2, h3{
    font-family: sans-serif;
    font-weight: bold;
}